body {
    margin: 0;
}

#main-header {
    background-color: lightgray;
    height: 60px;
    line-height: 60px;
}

#brand {
    color: chocolate;
}

.main-header__link {
    text-decoration: none;
}

.main-header__link:hover,
#brand:hover {
    color: snow;
}

#main-header__left {
    margin: 0;
    padding-left: 30px;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    vertical-align: middle;
}

#main-nav {
    margin: 0;
    padding-right: 20px;
    display: inline-block;
    width: calc(100% - 170px);
    text-align: right;
    vertical-align: middle;
}

#main-nav__ul {
    margin: 0;
    padding: 0;
}

.main-nav__li {
    display: inline-block;
    padding: 0px 10px;
}

#main-content {
    height: calc(100% - 60px - 40px);
}

#main-content__title {
    background-color: lightsalmon;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

#main-content__text {
    margin: 50px 500px;
}

#first-para::first-letter {
    color: chocolate;
    font-weight: bold;
    font-size: 30px;
}

h1 {
    color: white;
    margin: 0;
}

#main-footer {
    background-color: lightgray;
    text-align: center;
    height: 40px;
}